<div class="wrapper">
  <div class="container" sxpAnimate>
    <img src="assets/desktop/backgrounds/1.png" alt="" class="bg" />
    <img
      #hormonesIcon
      *ngIf="type == SliderType.hormons"
      src="assets/desktop/backgrounds/dna.png"
      alt=""
      class="icon"
    />
    <img
      #follicleIcon
      *ngIf="type == SliderType.follicleIcon"
      src="assets/desktop/backgrounds/microscope.png"
      alt=""
      class="icon follicle--icon"
    />
    <ng-template ngFor let-mode [ngForOf]="modes" let-i="index">
      <div
        class="content"
        [class.follicleContent]="type == SliderType.follicleIcon"
      >
        <h1
          [ngStyle]="{ color: mode.color }"
          *ngIf="currentSlide == i"
          [@rightSwipe]
        >
          {{ mode.title }}
        </h1>
        <p *ngIf="currentSlide == i" [@leftSwipe]>{{ mode.content }}</p>

        <app-yellow-btn *ngIf="type == SliderType.aboutApp"
          >Show me more</app-yellow-btn
        >
      </div>
      <div
        class="btn_back"
        (click)="onPreviousClicked()"
        *ngIf="
          !(0 == currentSlide) &&
          !(type == SliderType.calendar) &&
          currentSlide == i
        "
      >
        <img src="assets/ui/par-title/right-arrow-yellow.png" alt="right" />
        <span class="text"><p>Back</p></span>
      </div>
      <div
        class="btn"
        (click)="onNextClicked()"
        *ngIf="
          !(modes.length - 1 == currentSlide) &&
          !(type == SliderType.calendar) &&
          currentSlide == i
        "
      >
        <span class="text"><p>Next</p></span>
        <img src="assets/ui/par-title/right-arrow-yellow.png" alt="right" />
      </div>
    </ng-template>
  </div>
</div>
