.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  // overflow: hidden;
  position: relative;
}
.mockup {
  z-index: 10;
  width: 100%;
}
.shadow {
  z-index: 0;
  position: absolute;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shadow img {
  width: 250vw;
}
.screen {
  overflow: hidden;
  z-index: 0;
  position: absolute;
  width: 100%;
}
.screen img {
  width: 100%;
}
.screen-wrapper {
  overflow: hidden;
  z-index: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  aspect-ratio: 2/5;
}
