.yellow,
.yellow:active,
.yellow:focus {
  z-index: 0;
  border-radius: #{"min(10px,2.67vw)"};
  padding: #{"min(14.5px,3.87vw)"} #{"min(16.5px,4.4vw)"};
  position: relative;
  border: none;
  outline: none;
  background: #ffd012;
  cursor: pointer;
}
.yellow::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(7px);
  background-color: #ffd012;
  border-radius: 10px;
  cursor: pointer;
}
.yellow p {
  z-index: 20;
  line-height: #{"min(27px,7.2vw)"};
  text-align: right;
  font: normal normal 600 #{"min(20px,5.3vw)"}/#{"min(25px,6.67vw)"} Nunito;
  letter-spacing: 0px;
  color: #1d2229;
  opacity: 1;
}
@media (min-width: 768px) {
  .yellow,
  .yellow:active,
  .yellow:focus {
    border-radius: #{"min(10px,0.69vw)"};
    padding: #{"min(14.5px,1vw)"} #{"min(16.5px,1.15vw)"};
  }
  .yellow p {
    line-height: #{"min(27px,1.9vw)"};
    font: normal normal 600 #{"min(20px,1.39vw)"}/#{"min(25px,1.74vw)"} Nunito;
  }
}
