.video {
  width: 43%;
  position: absolute;
  transform: translate(-6%, 5%);
  z-index: 0;
}
@media (max-width: 767px) {
  .container {
    display: flex;
    justify-content: center;
    width: 110vw;
    transform: translateX(-5vw);
  }
  .container img {
    z-index: 10;
    width: 110vw;
  }
}
@media (min-width: 767px) {
  .container {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
  }
  .container img {
    width: 100%;
  }
  .mockup {
    z-index: 10;
  }
}
