.video {
  width: 43%;
  position: absolute;
  transform: translate(-6%, 5%);
  z-index: 0;
}
.container {
  display: flex;
  justify-content: center;
  width: 110vw;
  transform: translateX(-5vw);
}
.container img {
  z-index: 10;
  width: 110vw;
}
