.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.footer p {
  text-align: center;
  font: normal normal 300 12px/16px Nunito;
  letter-spacing: 0px;
  color: #929db1;
  opacity: 1;
  margin-bottom: 25px;
}
.links a {
  text-align: center;
  font: normal normal 300 12px/16px Nunito;
  letter-spacing: 0px;
  color: #929db1;
  opacity: 1;
}
.links a:nth-last-of-type(1) {
  margin-left: 34px;
}
.social-link {
  height: 31.67px;
  margin-left: 13.5px;
  cursor: pointer;
}
.social-link:first-of-type {
  margin-left: 0;
}
.logo {
  margin-bottom: 29px;
}
.socials {
  margin-top: 36px;
  margin-bottom: 36px;
}
.contact--par {
  font-size: 15px !important;
  color: #929db1;
  line-height: 18px;
  margin-bottom: 0 !important;
}
.contact a {
  color: #ffd012;
  font-size: 16px;
}
.contact {
  margin-bottom: 36px;
}
@media (min-width: 768px) {
  .footer p {
    font: normal normal 600 18px/25px Nunito;
  }
  .contact a {
    font: normal normal 600 35px/35px Nunito;
  }
  .links a {
    font: normal normal 600 18px/25px Nunito;
  }
  .logo {
    width: #{"min(29.72vw,428px)"};
  }
}
