<div class="header">
  <div class="header--content">
    <img src="assets/desktop/logo.png" alt="" />
    <!-- <div class="links--container">
      <app-dektop-menu-button [active]="true">Modes</app-dektop-menu-button>
      <app-dektop-menu-button>Hormons</app-dektop-menu-button>
      <app-dektop-menu-button>Calendar</app-dektop-menu-button>
      <app-dektop-menu-button>Follicle icon</app-dektop-menu-button>
      <app-dektop-menu-button>About app</app-dektop-menu-button>
      <app-dektop-menu-button>How it works</app-dektop-menu-button>
      <app-dektop-menu-button>Medical verification</app-dektop-menu-button>
      <app-dektop-menu-button>Opinion</app-dektop-menu-button>
    </div> -->
  </div>
</div>
