.content {
  background: linear-gradient(180deg, #232526, #232526, #141e30);
  min-height: 100vh;
  padding-top: 105px;
  width: 100vw;
  padding-left: 15px;
  padding-right: 15px;
  overflow-x: hidden;
}
.yellow {
  color: #ffd012;
}
.next_sec {
  margin-bottom: 67px;
}
app-right-swipe {
  transform: translateY(-30vh);
  transition: transform ease-in 0.5s;
}
.animated {
  transform: translateY(0);
}
.howItWorkParagraph h1 {
  text-align: left;
  color: #ffd012;
  width: 100%;
  margin-bottom: 30px;
}
.howItWorkParagraph p {
  text-align: left;
  font: normal normal 600 20px/25px Nunito;
  letter-spacing: 0px;
  color: #929db1;
  opacity: 1;
  margin-bottom: 30px;
}
.coupleImg {
  margin-top: 90px;
  transform: translateX(-73vw);
}
.couplePhoto {
  position: relative;
  margin-bottom: 100px;
}
app-stores {
  position: absolute;
  width: 100%;
  bottom: -60px;
}
.watchTutorial {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
}
.questions {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.questions app-yellow-btn {
  margin-top: 20px;
}
