<app-sticky-header></app-sticky-header>
<div class="content">
  <h1>We present something that was<br />not there</h1>
  <img src="" alt="our app" class="next_sec" />
  <h1 class="yellow">What is<br />the most important</h1>
  <app-right-swipe [modes]="modes" [type]="SliderType.modes"></app-right-swipe>
  <app-right-swipe
    [modes]="hormons"
    [type]="SliderType.hormons"
  ></app-right-swipe>
  <div class="">
    <h1 style="color: #ffd012">What else?</h1>
    <p style="text-align: center; margin-top: 30px">
      Woman Code wskaze Ci np.: <br />
      ze za 3 miesiace np.<br />
      21.07.2021 jego kobieta<br />
      będzie miała dni niepłodne<br />
      lub miesiączkę<br />
    </p>
  </div>
  <app-par-title [mode]="calendar" [type]="SliderType.calendar"></app-par-title>
  <app-par-title-left
    [mode]="follicleIcon"
    [type]="SliderType.follicleIcon"
  ></app-par-title-left>
  <app-par-title [mode]="aboutApp" [type]="SliderType.aboutApp"></app-par-title>
  <div class="howItWorkParagraph">
    <h1>How<br />it Works</h1>
    <p>
      Aplikacja ułatwi ci zrozumieć i przewidzieć Jej zachowanie tzw Jej zmianie
      zachowanie, że jednego tygodnia jest super a za dwa tygodnie, kłótnia i
      ciche dni przez 5 dni. Woman Code przygotuje cię do przejścia przez to, bo
      za większość tych zachowani są hormony, które buzują i wybuchają w
      określeniach zasadach w ciałach Naszych kobiet.
    </p>
    <app-yellow-btn>Show me more</app-yellow-btn>
  </div>
  <div class="couplePhoto">
    <img
      src="assets/presentation/modes/couple.png"
      alt="couple"
      class="coupleImg"
    />
    <app-stores></app-stores>
  </div>
  <div class="watchTutorial">
    <app-yel-border-btn>Watch tutorial</app-yel-border-btn>
  </div>
  <div style="margin-bottom: 187px">
    <h1 style="color: #ffd012">Medical verification</h1>
    <app-doctor [doctor]="doctors[0]"></app-doctor>
    <app-doctor [doctor]="doctors[0]" [last]="true"></app-doctor>
  </div>
  <h1>Let's start earning</h1>
  <app-vertical-divider></app-vertical-divider>
  <div class="questions">
  <h1 style="color: #ffd012">How?</h1>
  <app-yellow-btn>Show me more</app-yellow-btn>
  <app-vertical-divider></app-vertical-divider>
  </div>
  <div class="questions">
  <h1 style="color: #ffd012">Who?</h1>
  <app-yellow-btn>Show me more</app-yellow-btn>
  <app-vertical-divider></app-vertical-divider>
  </div>
  <div class="questions">
  <h1 style="color: #ffd012">How much?</h1>
  <app-yellow-btn>Show me more</app-yellow-btn>
  </div>
</div>
