<app-sticky-header (routeChanged)="scrollInto($event)"></app-sticky-header>
<div class="content">
  <section #mainSection id="main-section">
    <h1 sxpAnimate>We present something that was<br />not there</h1>
    <app-video></app-video>
    <h1 sxpAnimateRight class="yellow">What is<br />the most important</h1>
  </section>
  <section #modesSec id="modes">
    <app-right-swipe
      [modes]="modes"
      [type]="SliderType.modes"
    ></app-right-swipe>
  </section>
  <section #hormonsSec id="hormons">
    <app-right-swipe
      [modes]="hormons"
      [type]="SliderType.hormons"
      sxpAnimate
    ></app-right-swipe>
  </section>
  <app-photo-bg></app-photo-bg>
  <div class="" animateOnScroll animationName="animated fadeIn">
    <h1 style="color: #ffd012">What else?</h1>
    <p style="text-align: center; margin-top: 30px">
      The application will show you, for example: 10/12/2021. Your woman will
      feel worse. How is this possible? All thanks to the study of the hormonal
      nature and mathematics. When you select one of the four, you can see the
      dates 3 months ahead. Useful right? :)
    </p>
  </div>
  <section #calendarSec id="calendar">
    <app-right-swipe [modes]="calendar" [type]="SliderType.calendar" sxpAnimate>
    </app-right-swipe>
  </section>
  <!-- <app-par-title-left
    [modes]="follicleIcon"
    [type]="SliderType.follicleIcon"
  ></app-par-title-left> -->
  <section #follicleSec id="follicle">
    <app-right-swipe
      [modes]="follicleIcon"
      [type]="SliderType.follicleIcon"
      sxpAnimate
    ></app-right-swipe>
  </section>

  <!-- <app-par-title
    [modes]="aboutApp"
    [type]="SliderType.aboutApp"
  ></app-par-title> -->
  <section #aboutAppSec id="about-app">
    <app-par-title
      [modes]="aboutApp"
      [type]="SliderType.aboutApp"
      sxpAnimate
    ></app-par-title>
  </section>
  <section #howItWorksSec id="how-it-works">
    <div class="howItWorkParagraph" sxpAnimate>
      <h1 style="transform: translateY(100px)">How<br />it Works</h1>
      <!-- <p>
      Aplikacja ułatwi ci zrozumieć i przewidzieć Jej zachowanie tzw Jej zmianie
      zachowanie, że jednego tygodnia jest super a za dwa tygodnie, kłótnia i
      ciche dni przez 5 dni. Woman Code przygotuje cię do przejścia przez to, bo
      za większość tych zachowani są hormony, które buzują i wybuchają w
      określeniach zasadach w ciałach Naszych kobiet.
    </p>
    <app-yellow-btn>Show me more</app-yellow-btn> -->
    </div>
    <div class="couplePhoto">
      <img
        src="assets/presentation/modes/couple.png"
        alt="couple"
        class="coupleImg"
      />
      <app-stores></app-stores>
    </div>
    <div class="watchTutorial" sxpAnimate>
      <app-yel-border-btn>Watch tutorial</app-yel-border-btn>
    </div>
  </section>
  <!-- <div style="margin-bottom: 187px">
    <h1 style="color: #ffd012">Medical verification</h1>
    <app-doctor [doctor]="doctors[0]"></app-doctor>
    <app-doctor [doctor]="doctors[0]" [last]="true"></app-doctor>
  </div>
  <h1>Let's start earning</h1>
  <app-vertical-divider></app-vertical-divider>
  <div class="questions">
    <h1 style="color: #ffd012">How?</h1>
    <app-yellow-btn>Show me more</app-yellow-btn>
    <app-vertical-divider></app-vertical-divider>
  </div>
  <div class="questions">
    <h1 style="color: #ffd012">Who?</h1>
    <app-yellow-btn>Show me more</app-yellow-btn>
    <app-vertical-divider></app-vertical-divider>
  </div>
  <div class="questions">
    <h1 style="color: #ffd012">How much?</h1>
    <app-yellow-btn>Show me more</app-yellow-btn>
  </div> -->
  <!-- <app-business-partners [partners]="partners"></app-business-partners> -->
  <h1 style="margin-bottom: 46px" sxpAnimateRight>Gallery</h1>
  <app-gallery sxpAnimate></app-gallery>
  <app-footer sxpAnimate></app-footer>
</div>
