.content {
  background: rgb(26, 29, 30);
  min-height: 100vh;
  padding-top: 105px;
  width: 100vw;
  padding-left: 15px;
  padding-right: 15px;
  overflow-x: hidden;
}
.yellow {
  color: #ffd012;
}
.next_sec {
  margin-bottom: 67px;
}
