<div class="placeholder">
  <div class="left">
    <img src="assets/placeholder/logo.png" alt="" class="logo" />
    <img src="assets/placeholder/content.png" alt="" />
  </div>
  <div class="right">
    <img src="assets/placeholder/rightBg.png" alt="" class="bg" />
    <h3>
      Woman Code website version for<br />desktop is under Construction.<br />We
      invite you to the mobile version.
    </h3>
    <h2>Download the demo<br />of the application now!</h2>
    <img src="assets/android.png" alt="" class="android" />
  </div>
</div>
