.placeholder {
  width: 100vw;
  height: 100vh;
  background: #202121;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left {
  display: flex;
  flex-direction: column;
  margin-left: 74px;
  padding-top: 47px;
  width: 587px;
}
.logo {
  width: 203px;
  margin-bottom: 20px;
}
.right {
  position: relative;
  margin-left: -100px;
}
.right h3 {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 31px;
  line-height: 121.4%;
  display: flex;
  align-items: center;
  color: #ffd012;

  position: absolute;
  top: 35.5%;
  width: 80%;
  left: 24%;
}
.right h2 {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 121.4%;
  text-align: left;
  text-transform: none;
  /* or 55px */

  left: 24%;

  top: 55%;
  color: #929db1;
  position: absolute;
}
.android {
  cursor: pointer;
  position: absolute;
  top: 73.5%;
  left: 40%;
}
.bg {
  width: 876px;
}
