.container {
  position: relative;
}
.bg {
  transform: translateX(-32%);
  width: 200vw;
}
.content h1 {
  font-size: #{"min(58px,15.5vw)"};
  line-height: #{"min(60px,16vw)"};
  margin-bottom: 20px;
  text-align: left;
}
.content p {
  font: normal normal 600 #{"min(20px,5.3vw)"}/#{"min(25px,6.67vw)"} Nunito;
  letter-spacing: 0px;
  color: #929db1;
  opacity: 1;
  text-align: left;
  margin-bottom: 20px;
  max-width: 305px;
  align-self: flex-start;
}
.content {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 27%;
}
.btn .text {
  font: normal normal 600 #{"min(20px,5.3vw)"}/#{"min(25px,6.67vw)"} Nunito;
  letter-spacing: 0px;
  color: #ffd012;
  margin-right: 13.9px;
}
.btn img {
  width: #{"min(46px,12.24vw)"};
  justify-self: flex-end;
}
.btn {
  position: absolute;
  bottom: 20%;
  display: flex;
  left: 45%;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  cursor: pointer;
}
.photo {
  display: flex;
  justify-content: center;
}
.btn_back .text {
  font: normal normal 600 20px/25px Nunito;
  letter-spacing: 0px;
  color: #ffd012;
  margin-left: 13.9px;
}
.btn_back img {
  width: #{"min(46px,12.24vw)"};
  transform: rotate(180deg);
}
.btn_back {
  position: absolute;
  bottom: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  cursor: pointer;
  align-self: flex-end;
  margin-top: 20px;
}
