.container {
  position: relative;
}
.bg {
  transform: translateX(-20%);
  width: 200vw;
}
.content p {
  margin-top: 20px;
  font: normal normal 600 20px/25px Nunito;
  letter-spacing: 0px;
  color: #929db1;
  opacity: 1;
  text-align: right;
  max-width: 310px;
  align-self: flex-end;
}
.calendarContent {
  top: 28% !important;
}
.content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 37%;
  right: 0;
  width: 100%;
}
.noRight {
  right: 0 !important;
}
.btn .text {
  font: normal normal 600 20px/25px Nunito;
  letter-spacing: 0px;
  color: #ffd012;
  margin-right: 13.9px;
}
.btn img {
  justify-self: flex-end;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  cursor: pointer;
  align-self: flex-end;
  margin-top: 20px;
}
.photo {
  display: flex;
  justify-content: center;
}
