<div class="container" sxpAnimateRight>
  <img
    src="assets/ui/par-title/bg.png"
    alt=""
    class="bg"
    *ngIf="type == SliderType.modes"
  />
  <img
    src="assets/ui/par-title/bg2.png"
    alt=""
    class="bg"
    *ngIf="type == SliderType.calendar"
  />
  <img
    src="assets/ui/par-title/bg4.png"
    alt=""
    class="bg4"
    *ngIf="type == SliderType.aboutApp"
  />

  <ng-template ngFor let-mode [ngForOf]="modes" let-i="index">
    <div
      class="content"
      [ngClass]="{
        calendarContent: type == SliderType.calendar,
        aboutAppContent: type == SliderType.aboutApp
      }"
    >
      <h1
        [ngStyle]="{ color: mode.color }"
        *ngIf="currentSlide == i"
        [@rightSwipe]
      >
        {{ mode.title }}
      </h1>
      <p *ngIf="currentSlide == i" [@leftSwipe]>
        {{ mode.content }}
      </p>
      <app-yellow-btn (click)="toAboutApp()" *ngIf="type == SliderType.aboutApp"
        >Show me more</app-yellow-btn
      >
    </div>
    <div
      class="btn"
      (click)="onNextClicked()"
      *ngIf="
        !(modes.length - 1 == currentSlide) &&
        !(type == SliderType.calendar) &&
        !(type == SliderType.aboutApp) &&
        currentSlide == i
      "
    >
      <span class="text">Swipe</span>
      <img src="assets/ui/par-title/right-arrow-yellow.png" alt="right" />
    </div>
    <div
      class="btn"
      (click)="onNextClicked()"
      *ngIf="
        !(modes.length - 1 == currentSlide) &&
        !(type == SliderType.calendar) &&
        !(type == SliderType.aboutApp) &&
        currentSlide == i
      "
    >
      <span class="text">Swipe</span>
      <img src="assets/ui/par-title/right-arrow-yellow.png" alt="right" />
    </div>
    <div
      class="btn_back"
      (click)="onPreviousClicked()"
      *ngIf="
        !(0 == currentSlide) &&
        !(type == SliderType.calendar) &&
        !(type == SliderType.aboutApp) &&
        currentSlide == i
      "
    >
      <img src="assets/ui/par-title/right-arrow-yellow.png" alt="right" />
      <span class="text">Back</span>
    </div>
  </ng-template>
</div>
