<div class="container">
  <img
    src="assets/ui/par-title/bg.png"
    alt=""
    class="bg"
    *ngIf="type == SliderType.modes"
  />
  <img
    src="assets/ui/par-title/bg2.png"
    alt=""
    class="bg"
    *ngIf="type == SliderType.calendar"
  />
  <img
    src="assets/ui/par-title/bg4.png"
    alt=""
    class="bg4"
    *ngIf="type == SliderType.aboutApp"
  />

  <ng-template ngFor let-mode [ngForOf]="modes" let-i="index">
    <div
      class="content"
      [ngClass]="{
        calendarContent: type == SliderType.calendar,
        aboutAppContent: type == SliderType.aboutApp
      }"
    >
      <h1
        [ngStyle]="{ color: mode.color }"
        *ngIf="currentSlide == i"
        [@rightSwipe]
      >
        {{ mode.title }}
      </h1>
      <p *ngIf="currentSlide == i" [@leftSwipe]>
        {{ mode.content }}
      </p>
      <div
        class="btn"
        (click)="onNextClicked()"
        *ngIf="
          !(modes.length - 1 == currentSlide) &&
          !(type == SliderType.calendar) &&
          !(type == SliderType.aboutApp) &&
          currentSlide == i
        "
      >
        <span class="text">Swipe</span>
        <img src="assets/ui/par-title/right-arrow-yellow.png" alt="right" />
      </div>
      <app-yellow-btn *ngIf="type == SliderType.aboutApp"
        >Show me more</app-yellow-btn
      >
    </div>
  </ng-template>
</div>
<div class="photo" *ngIf="!(type == SliderType.aboutApp)">
  <!-- <app-photo-bg photo="{{ mode.img }}"></app-photo-bg> -->
</div>
