<app-menu class="menu"></app-menu>
<div class="main">
  <div
    class="blue_bg"
    (click)="scrollToStart()"
    [@inOutAnimation]
    *ngIf="opacity == 1"
  ></div>
  <div class="content" [ngClass]="{ 'on--top': opacity == 0 }">
    <img src="assets/main_page/woman-code.png" alt="logo" class="woman-logo" />

    <h2>We Create An Appliaction That Will Help You Understand Your Woman</h2>
    <button class="blue_btn" (click)="onClicked()">Watch Video</button>
    <div class="shop_container">
      <img
        src="assets/main_page/app_store.png"
        alt="app store"
        class="shop_btn"
      />
      <img
        src="assets/main_page/android.png"
        alt="google play"
        class="shop_btn"
      />
    </div>
    <app-scroll-down (btnClicked)="scroll(target)"></app-scroll-down>
  </div>
  <div class="phone" #target>
    <div
      class="black_frame"
      *ngIf="opacity != 0 && opacity != 1"
      [@outStayAnimation]
      [ngStyle]="{ opacity: opacity }"
      (click)="scrollToStart()"
    ></div>
    <img src="assets/main_page/phone.png" alt="app" (click)=onImageClicked() />
  </div>
</div>
