<div class="mobile--site">
  <app-menu class="menu"></app-menu>
  <div class="main">
    <div
      class="blue_bg"
      (click)="scrollToStart()"
      [@inOutAnimation]
      *ngIf="opacity == 1"
    ></div>
    <div class="content" [ngClass]="{ 'on--top': opacity == 0 }">
      <img
        src="assets/main_page/woman-code.png"
        alt="logo"
        class="woman-logo"
      />
      <h2>We Create An Application That Will Help You Understand Your Woman</h2>
      <!-- <button class="blue_btn" (click)="onClicked()">Watch Video</button> -->
      <p class="beta--version--p">This is beta version of this app</p>
      <app-stores></app-stores>
      <app-scroll-down (btnClicked)="scroll(target)"></app-scroll-down>
    </div>
    <div class="phone" #target>
      <div
        class="black_frame"
        *ngIf="opacity != 0 && opacity != 1"
        [@outStayAnimation]
        [ngStyle]="{ opacity: opacity }"
        (click)="scrollToStart()"
      ></div>
      <img
        src="assets/main_page/phone.png"
        alt="app"
        (click)="onImageClicked()"
      />
    </div>
  </div>
</div>
<!-- <div class="placeholder">
  <app-placeholder></app-placeholder>
</div> -->
<div class="desktop--site">
  <app-header-desktop
    (activatedPage)="activatedPage($event)"
    [activePage]="activeParam"
    style="z-index: 1000"
  ></app-header-desktop>
  <div class="dektop--content" style="z-index: -1">
    <div style="z-index: 1; display: flex; flex-direction: column">
      <h1 class="main--header" sxpAnimateDown>
        We create an application<br />that will help you understand your woman.
      </h1>
      <app-yel-border-btn
        sxpAnimateDown
        style="align-self: center; margin-top: 73.2px; margin-bottom: 50px"
        >Tutorial will be available soon</app-yel-border-btn
      >
      <app-stores class="app-stores" sxpAnimateDown></app-stores>
    </div>
    <div class="video content--container" sxpAnimateDown>
      <img src="assets/desktop/1/shadow.png" class="shadow--video" alt="" />
      <div class="flex--equal--column">
        <app-video></app-video>
      </div>
      <div class="header--container flex--equal--column">
        <h1 class="flex--equal--column" sxpAnimateDown>
          We present something that was not there
        </h1>
      </div>
    </div>

    <section #aboutAppSection id="how--it--works">
      <app-about-app-desktop></app-about-app-desktop>
    </section>
    <div class="modes">
      <section #modesSection id="modes">
        <app-right-swipe
          [modes]="modes"
          [desktop]="true"
          [type]="SliderType.modes"
        ></app-right-swipe>
      </section>
      <section #hormonesSection id="hormones">
        <app-right-swipe
          class="left-swipe"
          [modes]="hormons"
          [desktop]="true"
          [type]="SliderType.hormons"
        ></app-right-swipe>
      </section>
    </div>
    <section id="what--else">
      <img
        src="assets/desktop/1/shadow-what-else.png"
        class="shadow-what-else"
        alt=""
      />
      <h1 class="bigger--h1" sxpAnimateDown>What else?</h1>
      <p class="bigger--p" sxpAnimateDown>
        You will know whether your woman will feel worse.<br />
        How is this possible? All thanks to the study of the hormonal<br />
        nature and mathematics. When you select one of the four,<br />
        you can see the dates 3 months ahead. Useful right? :)
      </p>
    </section>
    <section #calendarSection id="calendar">
      <app-right-swipe
        [modes]="calendar"
        [desktop]="true"
        [type]="SliderType.calendar"
      ></app-right-swipe>
    </section>
    <section #follicleIconSec id="follicle">
      <app-right-swipe
        [modes]="follicleIcon"
        [desktop]="true"
        [type]="SliderType.follicleIcon"
      ></app-right-swipe>
    </section>
    <section #howItWorksSec id="how--it--works--section">
      <h1
        style="color: #ffd012; text-align: center; margin-bottom: 15px"
        sxpAnimateDown
      >
        How it works
      </h1>
      <div style="width: 100%; display: flex; justify-content: center">
        <p
          class="bigger--p"
          style="
            margin-bottom: 59px;
            width: 51%;
            color: #929db1;
            text-align: center;
          "
          sxpAnimateDown
        >
          Explore our app there! Download app for one of platforms and enjoy it!
          Additionally you can check out tutorial video below!
        </p>
      </div>
      <div sxpAnimateDown>
        <app-stores style="margin-bottom: 82px"></app-stores>
      </div>

      <div
        style="width: 100%; display: flex; justify-content: center"
        sxpAnimateDown
      >
        <app-yel-border-btn>Tutorial will be available soon</app-yel-border-btn>
      </div>
    </section>
    <h1
      style="color: #ffd012; text-align: center; margin-top: 200px"
      sxpAnimateDown
    >
      Gallery
    </h1>
    <div class="gallery" style="margin-bottom: 200px">
      <app-gallery [desktop]="true"></app-gallery>
    </div>
    <app-footer></app-footer>
  </div>
</div>
