@media (min-width: 320px) {
} // for general stylings (both, mobile && desktop)
@media (max-width: 767px) {
  .main {
    overflow-x: hidden;
  }
  h2 {
    font-weight: 600;
    font-size: 1.3rem;
  }
  .content {
    z-index: -3;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-image: url(../../../assets/main_page/background.png);
    background-size: cover;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
  }
  .blue_btn {
    z-index: -1;
    align-self: center;
    margin-top: 64.5px;
    margin-bottom: 57px;
  }
  .phone {
    z-index: 100;
    width: 100vw;
    height: 100vh;
    margin-top: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .on--top {
    z-index: 50;
  }
  .black_frame {
    z-index: 0;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(20, 32, 39);
  }
  .blue_bg {
    z-index: 10;
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-image: url(../../../assets/main_page/after_scroll_bg.png);
  }
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }
  .phone img {
    z-index: 20;
    height: 80%;
    margin: 0 auto;
  }
  .woman-logo {
    margin-top: 97px;
    margin-bottom: 53px;
    width: 264px;
    align-self: center;
  }
  .placeholder {
    display: none;
  }
} // for only styles between 320px and 768px (most mobile devies)
@media (min-width: 768px) {
  .main {
    display: none;
  }
} // general desktop && tablet styles if needed
@media (min-width: 768px) and (max-width: 1024px) {
  .main,
  .menu {
    display: none;
  }
  .mobile--site {
    display: none;
  }
} // only tablet styles
@media (min-width: 1025px) {
  .main,
  .menu {
    display: none;
  }
  .mobile--site {
    display: none;
  }
}
