@media (min-width: 320px) {
} // for general stylings (both, mobile && desktop)
@media (max-width: 767px) {
  .desktop--site {
    display: none;
  }
  .main {
    overflow-x: hidden;
  }
  h2 {
    font-weight: 600;
    font-size: 1.3rem;
  }
  .content {
    z-index: -3;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-image: url(../../../assets/main_page/background.png);
    background-size: cover;
    padding: 0 #{"min(24px,2.95vh)"};
    display: flex;
    flex-direction: column;
  }
  .blue_btn {
    z-index: -1;
    align-self: center;
    margin-top: #{"min(64.5px,7.94vh)"};
    margin-bottom: 57px;
  }
  .beta--version--p {
    margin-top: #{"min(30px,3.7vh)"};
    margin-bottom: #{"min(30px,3.7vh)"};
    text-align: center;
    font-size: 130%;
  }
  .phone {
    z-index: 100;
    width: 100vw;
    height: 100vh;
    margin-top: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .on--top {
    z-index: 50;
  }
  .black_frame {
    z-index: 0;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(20, 32, 39);
  }
  .blue_bg {
    z-index: 10;
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-image: url(../../../assets/main_page/after_scroll_bg.png);
  }
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }
  .phone img {
    z-index: 20;
    height: 80%;
    margin: 0 auto;
  }
  .woman-logo {
    margin-top: #{"min(97px,11.94vh)"};
    margin-bottom: #{"min(53px,6.53vh)"};
    width: 264px;
    align-self: center;
  }
  .placeholder {
    display: none;
  }
}
@media (min-width: 768px) {
  .main,
  .menu {
    display: none;
  }
  .placeholder {
    display: none;
    overflow: hidden;
  }
  .mobile--site {
    display: none;
  }
  .desktop--site {
    background: linear-gradient(180deg, #232526, #232526, #141e30);
    min-height: 100vh;
    width: 100vw;
  }
  .dektop--content {
    display: flex;
    flex-direction: column;
    padding-top: #{"min(47px,2.93vh)"};
    max-width: 1440px;
    margin: 0 auto;
  }
  .main--header {
    margin: 0 18.5%;
    text-align: center;
    color: #ffd012;
  }
  .watch-btn {
    margin-top: #{"min(74px,4.625vh)"};
    align-self: center;
  }
  .app-stores {
    margin-top: #{"min(50px,3.125vh)"};
  }
  .content--container {
    margin-top: #{"min(140px, 8.75vh)"};
    margin-left: #{"min(60px,4.167vw)"};
    margin-right: #{"min(60px,4.167vw)"};
  }
  .video {
    display: flex;
  }
  .flex--equal--column {
    flex-basis: 100%;
  }
  .flex--equal--column h1 {
    width: 100%;
  }
  .header--container {
    padding-left: #{"min(127px,8.82vw)"};
    display: flex;
    align-items: center;
  }
  .left-swipe {
    transform: translateX(50%);
  }
}
