<div
  class="menu_logo"
  [@holdUntilAnimate]
  *ngIf="!opened"
  (click)="toggleMenuClick()"
>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
</div>
<div class="menu_container" [@inOutAnimation] *ngIf="opened">
  <div class="header">
    <img src="assets/menu/menu-logo.png" alt="logo" />
    <div class="back_button" (click)="toggleMenuClick()">
      <p class="hide--text"><span>Hide</span></p>
      <img src="assets/menu/arrow-left.png" alt="back" />
    </div>
  </div>
  <div class="grid">
    <div class="greetings greet1">
      <p>Hello&nbsp;&nbsp;</p>
    </div>
    <div class="greetings greet2">
      <p><span>My Man</span></p>
    </div>
    <div class="menu">
      <ul>
        <li (click)="linkClicked(1)"><p>Function</p></li>
        <li (click)="linkClicked(2)"><p>Hormon's</p></li>
        <li (click)="linkClicked(3)"><p>Calendar</p></li>
        <li (click)="linkClicked(4)"><p>Follicle icon</p></li>
        <li (click)="linkClicked(5)"><p>About App</p></li>
        <li (click)="linkClicked(6)"><p>How it Works</p></li>
        <!-- <li><p>Medical verification</p></li> -->
        <!-- <li><p>Opinion</p></li> -->
      </ul>
    </div>
  </div>
</div>
