.content {
  background: linear-gradient(180deg, #232526, #232526, #141e30);
  min-height: 100vh;
  padding-top: 105px;
  width: 100vw;
  padding-left: 15px;
  padding-right: 15px;
  overflow-x: hidden;
}
h1 {
  margin-bottom: 30px;
}
