<app-sticky-header></app-sticky-header>
<div class="content">
  <h1 style="color: #ffd012">About app</h1>
  <p style="margin-bottom: 50px">
    WOMAN CODE ma za zadanie, żeby nasze kobiety była dla naj bardziej
    przewidywalne i miłe !!!
    <br /><br />
    Natura tak Kobiety stworzyła, że mają One powtarzany się cykl życia co 27
    dni *, co miesiąc Ich hormony przechodzą przez taki sam cykl zasad
    powtarzalnych.
    <br /><br />
    <span style="color: #ffd012">
      Aplikacja ułatwi ci zrozumieć i przewidzieć Jej zachowanie tzw Jej zmianie
      zachowanie, że jednego tygodnia jest super a za dwa tygodnie, kłótnia i
      ciche dni przez 5 dni. Woman Code przygotuje cię do przejścia przez to, bo
      za większość tych zachowani są hormony, które buzują i wybuchają w
      określeniach zasadach w ciałach Naszych kobiet.</span
    >
    <br /><br />
    Aplikacja podpowie Ci kiedy bezpiecznie umówić się z kolegami na piwo czy
    ryby 😉 a kiedy bezpiecznej zostać w domu.
    <br /><br />
    Woman Code wskażę Ci np.: że za 3 miesięcy np. 21.07.2021 jego kobieta
    będzie miała dni nie płodne lub miesiączkę.
    <br /><br />
    Woman Code to aplikacja dla mężczyzn, którzy starają się o dziecko. Jak
    wiadomo, żeby Nasze plemniki mogły się połączyć z komórką Naszej kobiety,
    muszą być silne, szybkie i wypoczętę i być w odpowiednim czasie i
    lokalizacji. WomanCode trzy dni przed tym terminem przypomni Ci i
    przygotuje, żebyś nie pił alkoholu, mniej się stresował, lepiej odżywiał
    itd. oraz Co najważniejsze, powie Ci do 6 miesięcy do przodu kiedy te dni na
    zajesieńcie w ciąże są.
  </p>
  <app-stores style="margin-bottom: 50px"></app-stores>
  <h1 style="margin-bottom: 46px">Gallery</h1>
  <app-gallery></app-gallery>
  <app-footer></app-footer>
</div>
