<app-sticky-header></app-sticky-header>
<div class="content">
  <h1 style="color: #ffd012" sxpAnimate>About app</h1>
  <p style="margin-bottom: 50px">
    <span sxpAnimateRight>
      Nature has endowed women with a cycle of the day that repeats every 27
      days.<br /><br /></span
    ><span sxpAnimate>
      The application will help you understand and predict the behavior of your
      partner, because most of the changes are caused by hormones that give
      specific symptoms at a given time.</span
    ><br /><br />
    <span sxpAnimateRight
      >The Woman Code will tell you when it is safe to make an appointment with
      your friends, and when it is better for you to stay at home with your
      partner and take care of her well-being.</span
    ><br /><br />

    <span sxpAnimate style="color: #ffd012"
      >The entire product, proprietary algorithms and functionalities are based
      on actual research and scientific documents of specialist doctors. Take a
      look at (Link) and read more (only available at www).</span
    ><br /><br />
    <span sxpAnimateRight>
      The application uses 4 most important modes:<br /><br />SEX, CHILD,
      NON-FERTILE DAYS, AND MENSTRUATION. They are linked by the most important
      conservative function, which is hormones.</span
    ><br /><br /><span sxpAnimate style="color: #ffd012"
      >The application will show you, for example: 10/12/2021. Your woman will
      feel worse. How is this possible? All thanks to the study of the hormonal
      nature and mathematics. When you select one of the four, you can see the
      dates 3 months ahead. Useful right? :)</span
    ><br /><br />
    <span sxpAnimateRight
      >You don't have to worry anymore that the planned weekend will turn out to
      be not what you imagined</span
    ><br /><br /><span sxpAnimate style="color: #ffd012"
      >Woman Code is also an application for couples who are trying to conceive.
      As you know, in order for sperm cells to connect to the female cell, they
      must be strong, fast and rested. They should be in the right place and
      time. Notifications in the application will remind you 3 days before the
      date calculated based on the research, so that you He didn't drink
      alcohol, took more physical activity, or just took care of his peace of
      mind.</span
    ><br /><br />
    <span sxpAnimateRight
      >Install the application, ask your partner to do it too. Link your
      accounts and enjoy the innovative solution, adapting it to your
      needs</span
    >
  </p>
  <app-stores style="margin-bottom: 50px"></app-stores>
  <h1 style="margin-bottom: 46px">Gallery</h1>
  <app-gallery></app-gallery>
  <app-footer></app-footer>
</div>
