<app-par-title
  [modes]="modes"
  (nextClicked)="nextMode()"
  (previousClicked)="previousMode()"
  *ngIf="type == 2 || type == 4 || type == 5"
  style="display: block"
  (swiperight)="nextMode()"
  [currentSlide]="currentSlide"
  [type]="type"
></app-par-title>
<app-par-title-left
  *ngIf="type == 1 || type == 3"
  [modes]="modes"
  [type]="type"
  (nextClicked)="nextMode()"
  (previousClicked)="previousMode()"
  (swiperight)="nextMode()"
  [currentSlide]="currentSlide"
  style="display: block"
></app-par-title-left>
<app-screen-gallery
  [imgs]="imgs"
  [currentSlide]="currentSlide"
></app-screen-gallery>
