@media (min-width: 768px) {
  .container {
    position: relative;
    width: 100%;
  }
  .gallery {
    height: 61.35%;
    width: 20%;
    position: absolute;
    display: flex;
    z-index: 1;
    top: 27%;
    right: 12%;
  }
  .is--left {
    right: unset;
    left: 28%;
    top: 20%;
  }
  .shadow--app--modes {
    position: absolute;
    transform: matrix(-0.99, 0.14, -0.14, -0.99, 0, 0);
    width: 110%;
    right: -40%;
    top: -20%;
  }
  .shadow--follicle {
    position: absolute;
    transform: matrix(0, -1, 1, 0, 0, 0);
    width: 143%;
    left: -75%;
    top: 20%;
  }
}
