/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,600;1,600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
body,
html {
  width: 100vw;
  height: 100%;
}

@media (max-width: 767px) {
  h1 {
    font: normal normal 600 #{"min(58px,15.5vw)"}/#{"min(60px,16vw)"} Nunito;
    letter-spacing: 0px;
    color: #929db1;
    opacity: 1;
    text-align: center;
  }

  h2 {
    text-align: center;
    font: normal normal 600 #{"min(33px,8.89vw)"}/#{"min(45px,12vw)"} Nunito;
    letter-spacing: 0px;
    color: #ffffff;
    text-transform: capitalize;
    text-align: center;
  }
  p {
    text-align: left;
    font: normal normal 600 #{"min(20px,5.3vw)"}/#{"min(25px,6.67vw)"} Nunito;
    letter-spacing: 0px;
    color: #929db1;
  }
  .blue_btn {
    position: relative;
    text-align: left;
    font: normal normal 600 16px/26px Nunito;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    background: #4070f4 0% 0% no-repeat padding-box;
    border: none;
    border-radius: 10px;
    padding: 18.6px 36px;
  }
  .blue_btn::before {
    z-index: -1;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #4070f4 0% 0% no-repeat padding-box;
    border: none;
    border-radius: 10px;
    filter: blur(6px);
  }
  .blue_btn:active {
    outline: none;
  }
}
@media (min-width: 768px) {
  p {
    font: normal normal 600 #{"min(18px,1.25vw)"}/#{"min(25px,1.74vw)"} Nunito;
    // font: normal normal 600 #{"min(20px,5.3vw)"}/#{"min(25px,6.67vw)"} Nunito;
  }
  h1 {
    font: normal normal 600 #{"min(67px,4.653vw)"}/#{"min(75px,5.208vw)"} Nunito;
    color: #929db1;
  }
  h2 {
    font: normal normal 600 #{"min(35px,2.43vw)"}/ #{"min(49px,3.40vw)"} Nunito;
  }
}
