<div class="container" sxpAnimate>
  <img
    src="assets/desktop/backgrounds/1.png"
    alt=""
    class="bg"
    *ngIf="type == SliderType.modes"
  />
  <img
    #icon
    src="assets/desktop/backgrounds/settings.png"
    alt=""
    class="icon"
    *ngIf="type == SliderType.modes"
  />
  <img
    src="assets/desktop/backgrounds/2.png"
    alt=""
    *ngIf="type == SliderType.calendar"
    class="bg"
  />

  <img
    #calendarIcon
    src="assets/desktop/backgrounds/calendar.png"
    alt=""
    class="icon icon-calendar"
    *ngIf="type == SliderType.calendar"
  />
  <img
    src="assets/ui/par-title/bg6.png"
    *ngIf="type == SliderType.howItWorks"
    class="bg"
    alt=""
  />
  <ng-template ngFor let-mode [ngForOf]="modes" let-i="index">
    <div class="content">
      <h1
        [ngStyle]="{ color: mode.color }"
        *ngIf="currentSlide == i"
        [@rightSwipe]
      >
        {{ mode.title }}
      </h1>
      <p *ngIf="currentSlide == i" [@leftSwipe]>{{ mode.content }}</p>
    </div>
    <div
      class="btn_back"
      (click)="onPreviousClicked()"
      *ngIf="
        !(0 == currentSlide) &&
        !(type == SliderType.calendar) &&
        currentSlide == i
      "
    >
      <img src="assets/ui/par-title/right-arrow-yellow.png" alt="right" />
      <span class="text"><p>Back</p></span>
    </div>
    <div
      class="btn"
      (click)="onNextClicked()"
      *ngIf="
        !(modes.length - 1 == currentSlide) &&
        !(type == SliderType.calendar) &&
        currentSlide == i
      "
    >
      <span class="text"><p>Next</p></span>
      <img src="assets/ui/par-title/right-arrow-yellow.png" alt="right" />
    </div>
  </ng-template>
</div>
