<div class="container">
  <img src="assets/desktop/2/couple.png" sxpAnimate class="couple" alt="" />
  <div class="about--app-sec sec" sxpAnimateRight>
    <h1>About app</h1>
    <p>
      Nature has endowed women with a cycle of the day that repeats every 27
      days.<br />The application will help you understand and predict the
      behavior of your partner, because most of the changes are caused by
      hormones that give specific symptoms at a given time.
    </p>
    <app-yellow-btn (click)="showMeMoreClicked()">Show me more</app-yellow-btn>
    <div style="margin-top: 50px">
      <app-stores [notCenter]="true" sxpAnimateRight></app-stores>
    </div>
  </div>
  <!-- <div class="how--it--works--sec sec">
    <h2>How it works</h2>
    <p>
      Aplikacja ułatwi ci zrozumieć i przewidzieć Jej zachowanie tzw Jej zmianie
      zachowanie, że jednego tygodnia jest super a za dwa tygodnie, kłótnia i
      ciche dni przez 5 dni. Woman Code przygotuje cię do przejścia przez to, bo
      za większość tych zachowani są hormony, które buzują i wybuchają w
      określeniach zasadach w ciałach Naszych kobiet.
    </p>
    <app-yellow-btn>Show me more</app-yellow-btn>
  </div> -->
</div>
