<div class="container">
  <img src="assets/desktop/2/couple.png" class="couple" alt="" />
  <div class="about--app-sec sec">
    <h2>About app</h2>
    <p>
      WOMAN CODE ma za zadanie, żeby nasze kobiety była dla nas bardziej
      przewidywalne i miłe !!! Aplikacja dla mężczyzn, którzy starają się o
      dziecko. Jak wiadomo, żeby Nasze plemniki mogły się połączyć z komórką
      Naszej kobiety, muszą być silne, szybkie i wypoczętę i być w odpowiednim
      czasie i lokalizacji.
    </p>
    <app-yellow-btn>Show me more</app-yellow-btn>
  </div>
  <div class="how--it--works--sec sec">
    <h2>How it works</h2>
    <p>
      Aplikacja ułatwi ci zrozumieć i przewidzieć Jej zachowanie tzw Jej zmianie
      zachowanie, że jednego tygodnia jest super a za dwa tygodnie, kłótnia i
      ciche dni przez 5 dni. Woman Code przygotuje cię do przejścia przez to, bo
      za większość tych zachowani są hormony, które buzują i wybuchają w
      określeniach zasadach w ciałach Naszych kobiet.
    </p>
    <app-yellow-btn>Show me more</app-yellow-btn>
  </div>
  <app-stores></app-stores>
  <app-yel-border-btn class="tutorial--btn">Tutorial will be available soon</app-yel-border-btn>
</div>
