.couple {
  width: 64.93%;
  align-self: flex-end;
  margin-left: auto;
}
.container {
  display: flex;
  position: relative;
  margin-top: 150px;
  margin-bottom: 50px;
}
.sec {
  position: absolute;
  width: 27.84%;
  max-width: 401px;
  right: 55%;
}
.about--app-sec {
  top: 14%;
}
.how--it--works--sec {
  top: 78%;
}
.sec p {
  color: #929db1;
  margin-top: 28px;
  margin-bottom: 53px;
}
.sec h1 {
  color: #ffd012;
}
app-stores {
  position: absolute;
  top: 65%;
  right: 71.5%;
}
.tutorial--btn {
  position: absolute;
  right: 19%;
  top: 115%;
}
